:root {
    --light: #fff;
    --dark:#000;
}
@font-face {
    font-family: pop ;
    src: url('../fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: pop2 ;
    src: url('../fonts/Poppins.ttf');
}
 body {
    font-family: pop;
 }
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.clouds {
    position:absolute;
    width: 1500px;
    bottom: 400px;
    right: -30px;
    z-index: 21;
}
.mount {
    position: absolute;
    bottom: -300px;
    right:-30px;
    
}
.trees {
    position: absolute;
    width: 1400px;
    left: 0;
    bottom: -100px;
    z-index: 50
}
.keyNav {
    position: absolute;
    width: 100%;
    z-index: 30;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.05), transparent); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px
}
.mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    padding: 20px 30px;
    color: var(--dark);
    text-transform: uppercase;
    transition: .5s ease-in;
    font-size: 1em;
}
.header {
    font-size: 2rem;
    color: var(--light);
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
}
.header span {
    color: var(--dark);
}
a.active {
    text-decoration: underline 3px solid var(--dark);
}
.mainNav a:hover{
    text-decoration: underline 3px solid var(--dark);
    
}
.big-header {
    position:absolute;
    z-index: 30;
    top: calc(55% - 2em);
    width: 100%;
    text-align: center;
    font-size: 7em;
    color: var(--light);
    font-weight: bolder;
}

.toggler div {
    width: 2.2em;
    height: .2em;
    margin: .3em;
    background: var(--dark);
    transition: 0.4s ease-in;
 } 
 
 .toggler {
    margin-top: 0px;
    display: none;
    cursor: pointer;
 }

@media screen and (max-width: 769px) {

    .toggler {
        display: block;
    }
    
    .mainNav {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 40vw;
        opacity: .7;
        background-color: transparent;
        flex-direction:column;
        transform: translateX(120%);
        transition: 0.5s ease-in; 
        margin: 5px 0;
        padding: 20px;
        
    }
  
    .big-header {
        font-size: 4.5em;
        top: calc(50% - 2em);
    }
  .header{
    font-size: 1.5em;
    letter-spacing: normal;
  }
  a {
    font-size: .9em;
    padding: 10px;

  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .clouds {
    width: 1200px;
}
.trees {
    width: 1000px;   
}

}
/* Nav Active Class */
.nav-active {
    transform: translateX(0);
    position: absolute; 
    z-index: 1000;  
 }
 
 /* Hamburger Icon Animation */
 .toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 5px);
 }
 .toggle .line2 {
    opacity: 0;
 }
 .toggle .line3 {
    transform: rotate(45deg) translate(-7px, -5px);
 }
 

